<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="imageProcessor">
      <section name="security" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageSecuritySection, ImageProcessor.Web" />
      <section name="processing" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageProcessingSection, ImageProcessor.Web" />
      <section name="caching" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageCacheSection, ImageProcessor.Web" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="UserUploadDirectory" value="/media" />
  </appSettings>

  <!-- IMPORTANT - change the path below to match the UserUploadDirectory above to ensure that uploaded files cannot be executed -->
  <location path="media" allowOverride="false">
    <system.webServer>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
      </handlers>
      <staticContent>
        <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
      </staticContent>
    </system.webServer>
  </location>

  <system.web>

    <compilation debug="false" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>

    <pages controlRenderingCompatibilityVersion="4.0" />

    <!--<customErrors mode="RemoteOnly" defaultRedirect="/error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/page-not-found.aspx" />
    </customErrors>-->

    <httpModules>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </httpModules>
  </system.web>

  <system.webServer>

    <handlers>
      <add name="DownloadHandler" preCondition="integratedMode" resourceType="Unspecified" verb="*" allowPathInfo="true" path="/download.ashx" type="DownloadHandler" />
      <add name="PluploadHandler" preCondition="integratedMode" resourceType="Unspecified" verb="*" allowPathInfo="true" path="/upload.ashx" type="PluploadHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />

    <modules>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </modules>

  </system.webServer>

  <imageProcessor>
    <security configSource="App_Data\Config\imageprocessor\Security.config" />
    <caching configSource="App_Data\Config\imageprocessor\Cache.config" />
    <processing configSource="App_Data\Config\imageprocessor\Processing.config" />
  </imageProcessor>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>